<div>
    <h2>Simple Binding Examples <span ng-show="home_name">for {{home_name}}</span></h2>

    <br />
    <label for="home-name">Name:&nbsp;</label>
    <input type="text" id="home-name" ng-model="home_name">&nbsp;&nbsp;<input type="text" ng-model="home_name">

    <br />
    <br />
    <br />
    <label for="home-csl">Enter a comma, separated list:&nbsp;</label>
    <input type="text" id="home-csl" ng-model="home_list">

    <br />
    <br />
    <div ng-repeat="item in home_list.split(',')" ng-show="home_list">
        <div ng-show="item.trim()">
            <input type="checkbox">&nbsp;{{item.trim()}}
        </div>
    </div>

    <article ng-non-bindable>
        <h3>Two-Way Data Binding</h3>
        Data-binding in Angular apps is the automatic synchronization of data between the model and view components.
        The way that Angular implements data-binding lets you treat the model as the single-source-of-truth in your application.
        The view is a projection of the model at all times. When the model changes, the view reflects the change, and vice versa.

        <a href="https://docs.angularjs.org/guide/databinding">AngularJS Documentation: Data Binding</a>

        <h3>Concepts</h3>
        <ul>
            <li>ng-app</li>
            <li>partial templates</li>
            <li>ng-show</li>
            <li>interpolation directive {{}}</li>
            <li>ng-model</li>
            <li>ng-repeat</li>
        </ul>
    </article>
</div>