<div ng-controller="listUserCtrl as vm">
    <h2>All Users</h2>

    <br />
    <table>
        <thead>
            <th>uuid</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.users">
            <td>{{user.uuid}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
        </tr>
        </tbody>
    </table>

    <article ng-non-bindable>
        <h3>Moving Parts</h3>
        <ul>
            <li>template: templates/userList.html</li>
            <li>controller: scripts/user/listUserCtrl.js</li>
            <li>service: scripts/user/userService.js</li>
        </ul>

        <h3>Concepts</h3>
        <ul>
            <li>ng-controller</li>
            <li>ng-repeat</li>
            <li>interpolation directive {{}}</li>
            <li>IOC: controller injects userService, userService injects $http</li>
            <li>consuming promises</li>
            <li>factory service</li>
            <li>using $http to consume REST</li>
        </ul>
    </article>
</div>