<div class="crud-list">
    <h2>List of Users</h2>

    <button class="create-button" ng-click="vm.showCreate()">Create New User</button>

    <div class="list" ng-repeat="user in vm.users">
        <span>{{user.lastName}}, {{user.firstName}}</span>
        <button ng-click="vm.showView(user.uuid)">View</button>
        <button ng-click="vm.showEdit(user.uuid)">Edit</button>
        <button ng-click="vm.showDelete(user.uuid)">Delete</button>
        <hr>
    </div>

    <article ng-non-bindable>
        <h3>Top Level</h3>
        <ul>
            <li>template: templates/crud/userCRUD.html</li>
            <li>controller: scripts/crud/userCRUDCtrl.ls</li>
            <li>service: scripts/user/userService.js</li>
        </ul><ul>
            <li>ng-if</li>
            <li>ng-include</li>
            <li>Javascript 'enums'</li>
        </ul>

        <h3>Parts and Concepts</h3>
        <ul>
            <li>template: templates/crud/userCRUD_list.html</li>
        </ul><ul>
            <li>ng-click</li>
            <li>ng-repeat</li>
            <li>interpolation directive {{}}</li>
        </ul>
        <em>Note that the list template does not define a controller; it uses the top-level.</em>
    </article>
</div>